section.one,
section.two {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* PAGE ONE */
#page-one {
  @media (min-width: 320px) {
    width: 100vw;
    height: 95.745vw;
    padding: 48px 24px;
    background-image: url("images/mobile-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media (min-width: 758px) {
    background-image: url("images/desktop-image-hero-1.jpg");
    width: 100vw;
    height: 52.0833vw;
    background-size: cover;
    position: relative;
    background-position: center;
  }

  @media (min-width: 1024px) {
    width: 58.3333vw;
    height: 66.75vh;
    background-size: cover;
    padding: 64px;
  }

  .topnav {
    @media (min-width: 320px) {
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @media (min-width: 758px) {
      width: calc(50% + 62px);
    }
    @media (min-width: 1024px) {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 56px;
    }
  }
  #links {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 32px;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .a-cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    height: 28px;
    &:hover {
      .line {
        display: block;
      }
    }
  }
  .line {
    width: 1rem;
    height: 3px;
    display: none;
    background-color: white;
  }
  .hamburger {
    @media (min-width: 320px) {
      display: block;
      cursor: pointer;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

/* PAGE TWO */
.page-two {
  @media (min-width: 320px) {
    width: 100vw;
    position: relative;
    padding: 64px 32px;
  }
  @media (min-width: 758px) {
    padding: 64px;
    gap: 24px;
  }
  @media (min-width: 1024px) {
    width: 41.6667vw;
    height: 66.75vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.page-two-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (min-width: 1024px) {
    width: 400px;
    height: 256px;
  }
}
/* ARROWS */
.carousel {
  @media (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: -56px;
    right: 0;
    width: 112px;
    height: 56px;
  }
  @media (min-width: 758px) {
    width: 160px;
    height: 80px;
    top: -68px;
    right: -24px;
  }
  @media (min-width: 1024px) {
    position: absolute;
    left: 0;
    top: calc(66.75vh - 80px);
  }
}
.arrow-container {
  @media (min-width: 320px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin: 0;
    background-color: var(--black);
  }
  @media (min-width: 1024px) {
    width: 80px;
    height: 80px;
  }
  & {
    cursor: pointer;
  }
  &:hover {
    background-color: var(--grey-800);
  }
}

/* SHOP */
.shop {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 550px) {
    justify-content: flex-start;
  }
  & {
    cursor: pointer;
  }
  &:hover {
    color: var(--grey-500);
    img.shop-arrow {
      filter: invert(65%) sepia(8%) saturate(14%) hue-rotate(349deg) brightness(98%) contrast(93%);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
