.page-three {
  @media (min-width: 320px) {
    width: 100vw;
    height: 63.3vw;
    background-image: url("images/image-about-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 1024px) {
    width: calc(50vw - 300px);
    height: 33.25vh;
    background-position: left;
  }
}
.page-four {
  @media (min-width: 320px) {
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }
  @media (min-width: 758px) {
    height: fit-content;
  }
  @media (min-width: 1024px) {
    width: 600px;
    height: 33.25vh;
  }
}
.page-four-container {
  @media (min-width: 320px) {
    width: 100vw;
    padding: 0 48px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  @media (min-width: 758px) {
    width: 100vw;
    padding: 0 64px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  @media (min-width: 1024px) {
    width: 484px;
    height: 148px;
    padding: 0;
    margin: 0;
  }
}
.page-five {
  @media (min-width: 320px) {
    width: 100vw;
    height: 63.3vw;
    background-image: url("images/image-about-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 1024px) {
    width: calc(50vw - 300px);
    height: 33.25vh;
    background-position: center;
  }
}
